<template>
    <div class="max-w-3xl bg-prim-dark-200 rounded-lg mx-auto my-16 p-16 shadow-xl">
        <slot />
    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>