<template>
    <li>
        <a 
            :href="href"
            :onclick="onclick" 
            class="block rounded px-4 py-2 text-white hover:bg-prim-dark-200"
        >
            <slot />
        </a>
    </li>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
    props: { 
        href: {
            type: String,
            default: "#",
            required: true,
        },
        onclick: { 
            type: Function,
            default: () => { return; },
            required: false,
        },
    }
});
</script>