<template>
    <li>
        <a
          class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-gray-300 border-gray-700 text-white select-none"
          :href="href"
          :onclick="onclick"
        > 
          <slot />
        </a>
    </li>
</template>


<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
    props: {
        href: {
            type: String,
            required: true,
        },
        onclick: {
            type: Function,
            required: false,
            default: () => { return; },
        },
    },
});
</script>
